.delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  background-color: white;
  width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px 12px 12px 12px;
}

.delete-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0px;
}

.delete-modal-heading {
  font-weight: 600;
  font-size: 20px;
}

.closeButton {
  cursor: pointer;
  font-size: 30px;
}

.delete-modal-body {
  padding: 20px 10px;
  background-image: linear-gradient(to right, #ccfbff, #ef96c5);
}

.delete-modal-text{
  margin: 0px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  margin-right: 10px;
}
