.taskBox {
  max-height: 400px !important;
  background-color: white;
  min-width: 18%;
  border-radius: 12px;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
}

.headerTitle {
  color: white;
  border-radius: 12px 12px 0px 0px;
  margin: 0px 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.taskBoxBody {
  overflow: scroll;
}

.no-tasks-found{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .taskBox {
    width: 90%;
    margin: 10px auto;
  }
}

