.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 100px;
}

.logo-text{
    margin: 0px;
}

.main-menu{
    background-color: white;
    padding: 15px;
    font-size: 15px;
    border-radius: 40px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .menu-header{
        margin: 30px 50px;
    }
  }
  