.main-container {
  border: 2px solid white;
  border-radius: 12px;
  margin: auto auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
}

.task-box-area {
  margin: auto auto;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  overflow-x: scroll; 
}


.filter-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 25px;
}

.sort-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 25px;
}

@media only screen and (max-width: 600px) {
  .task-box-area {
    flex-direction: column;
  }
}
